
.aboutme_content {
    position: absolute;
    width: 550px;
    display: inline-block;
    line-height: 2;
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 0px;
    word-spacing: 1.6px;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-align: justify;
}

.initialLetter{
    font-size: 50px;
    line-height: 1;
}