.DisplayPageTitle{
    background-color: rgba(128, 128, 128, 0.2);
    display: inline-block;
    height: 300px;
    width: 100px;
    margin-right: 10px;
    padding-top: 40px;    
}

.Rotate {  
    /* transform:  translateX(0%) translateY(0%) rotate(-90deg);     */
    /* -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); */
    /* width: 400px;  */
    transform: rotate(-90deg);
    transform-origin: top top -0;
}

.RotateTitle {
    font-size: 16px;
    color: rgba(255, 165, 0, 0.3);
}