.App {  
  color: rgb(211, 211, 211);
}

body {
  background-image: url(./images/bg_3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  /* background-color: gray; */
  color: rgb(211, 211, 211);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




h1#redirect {
  animation: type 1s steps(15); /*delay iteration-count direction fill-mode;*/
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  width: 15ch;
  font-family: consolas;
  font-size: 50px;
}
@keyframes type {
  0% {
      width: 0ch;
  }
  100% {
      width: 15ch;
  }
}
